---
import Layout from "../layouts/Layout.astro";
import myBackground from "../assets/images/bg_DSC_3244.jpg";
import { Icon } from "astro-icon/components";

import { getImage } from "astro:assets";
const optimizedBackground = await getImage({ src: myBackground });

const textMessage =
  "Bună ziua, voi participa la nunta voastră...";
const whatsappUrl = `https://wa.me/+40746339070?text=${encodeURIComponent(textMessage)}`;
const smsUrl = `sms:+40746339070?&body=${textMessage}`;
---

<Layout title="Andreea & Razvan ">
  <header
    data-bg="false"
    id="header"
    class="fixed top-0 z-40 w-screen bg-black bg-opacity-0 data-[bg=true]:bg-opacity-40 data-[bg=true]:shadow-md"
  >
    <div class="m-4 flex justify-center gap-4 md:justify-end">
      <a class="mr-4" href="#confirmare">
        <button
          class="w-32 rounded-md bg-orange-200 px-3 py-2 text-black hover:bg-opacity-80"
        >
          Confirmare
        </button>
      </a>
      <a class="mr-4" href="#location">
        <button
          class="w-32 rounded-md bg-purple-200 px-3 py-2 text-black hover:bg-opacity-80"
        >
          Locație
        </button>
      </a>
    </div>
  </header>
  <main class="flex w-screen flex-col">
    <section
      id="intro"
      style={`background-image: url(${optimizedBackground.src});`}
      class="flex min-h-screen items-center justify-center bg-cover bg-bottom"
    >
      <div class="relative m-6 flex">
        <div
          class="absolute h-full w-full rounded-md bg-black opacity-30 shadow-md"
        >
        </div>
        <div
          class="z-10 p-6 text-center text-4xl font-bold text-white md:text-5xl"
        >
          <h1 class="fancy slideInLeft">Andreea</h1>
          <h1 class="extra-fancy">&</h1>
          <h1 class="fancy slideInRight">Răzvan</h1>
          <h2 class="fancy mt-6 text-[.6em]">
            We are getting married! Join us in our celebration.
          </h2>
          <h1 class="fancy mt-8">June 15th, 2024</h1>
        </div>
      </div>
    </section>

    <section
      id="confirmare"
      class="flex flex-col items-center justify-center gap-6 bg-orange-200 bg-opacity-50 p-6"
    >
      <h2 class="fancy text-center text-3xl">Confirmare invitație</h2>
      <p class="prose text-xl lg:prose-xl">
        Pentru confirmare vă rog sa ne contactați la următorul număr de telefon:
        +40746339070 - Timiș Răzvan.
        <span class="text-red-600 block">Nu mai târziu de 01.06.2024.
        </span>
      </p>
      <div class="flex flex-wrap items-center justify-center gap-4 text-xl">
        <a href="tel:+40746339070" target="_blank">
          <button
            class="flex items-center gap-2 rounded-md bg-white px-3 py-2 text-black shadow-md hover:bg-opacity-80"
          >
            <Icon name="phone" /> Sună-mă
          </button>
        </a>
        <a href={whatsappUrl} target="_blank">
          <button
            class="flex items-center gap-2 rounded-md bg-white px-3 py-2 text-black shadow-md hover:bg-opacity-80"
          >
            <Icon name="WhatsApp" /> WhatsApp
          </button>
        </a>
        <a href={smsUrl}>
          <button
            class="flex items-center gap-2 rounded-md bg-white px-3 py-2 text-black shadow-md hover:bg-opacity-80"
          >
            <Icon name="sms" /> Trimite un sms
          </button>
        </a>
      </div>
    </section>
    <section
      id="location"
      class="flex flex-col gap-8 bg-purple-200 bg-opacity-50 p-6"
    >
      <h3 class="fancy text-center text-3xl">Locație biserică</h3>
      <iframe
        class="m-auto w-full md:w-2/3"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2688.0157427855984!2d24.714475728848473!3d47.64526091174898!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47366d186c5c8ea5%3A0x1e6f3a22ce76dc45!2sBiserica%20Sfin%C8%9Bii%20Apostoli!5e0!3m2!1sen!2sro!4v1711996516648!5m2!1sen!2sro"
        width="300"
        height="400"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
      <h3 class="fancy text-center text-3xl">
        Locație sală de evenimente
      </h3>
      <iframe
        class="m-auto w-full md:w-2/3"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2688.549904501131!2d24.735884776958727!3d47.63487987119234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47366d5b50c99e21%3A0xf75d93b874f860fd!2sHotel%20Nord!5e0!3m2!1sen!2sro!4v1711996262136!5m2!1sen!2sro"
        width="300"
        height="400"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
  </main>
  <div class="fixed bottom-10 right-10">
    <a class="inline" href="#intro">
      <button
        id="scrollUpBtn"
        class="hidden rounded-md bg-slate-600 px-4 py-2 text-white hover:bg-opacity-80 md:text-xl"
        >Înapoi sus</button
      >
    </a>
  </div>
</Layout>

<style></style>
<script>
  // Get a reference to the scroll up button
  const scrollUpBtn = document.getElementById("scrollUpBtn");

  function upButton() {
    if (!scrollUpBtn) return;
    // Check if the user has scrolled down a certain amount (e.g., 100 pixels)
    if (window.scrollY > 200) {
      // If scrolled down, show the scroll up button
      scrollUpBtn.style.display = "block";
    } else {
      // If not scrolled down enough, hide the scroll up button
      scrollUpBtn.style.display = "none";
    }
  }
  const header = document.getElementById("header");
  function headerEffect() {
    if (!header) return;
    // Check if the user has scrolled down a certain amount (e.g., 100 pixels)
    if (window.scrollY > 200) {
      // If scrolled down, show the scroll up button
      header.setAttribute("data-bg", "true");
    } else {
      // If not scrolled down enough, hide the scroll up button
      header.setAttribute("data-bg", "false");
    }
  }
  // Add a scroll event listener to the window
  window.addEventListener("scroll", function () {
    upButton();
    headerEffect();
  });
</script>
